<clr-vertical-nav *ngIf="!(shouldProtect|async)" [clrVerticalNavCollapsible]="true" [clr-nav-level]="1">

 <a *ngIf="isAdminOrDashboardMonitor()"  clrVerticalNavLink routerLink="dashboard" routerLinkActive="active">
   <clr-icon shape="dashboard" clrVerticalNavIcon></clr-icon>
   <span class="font-size-smaller"> Dashboard </span>
 </a>

  <a *ngIf="isAdmin()" clrVerticalNavLink routerLink="apps" routerLinkActive="active">
    <clr-icon shape="applications" class="is-solid" clrVerticalNavIcon></clr-icon>
    <span class="font-size-smaller"> Applications </span>
  </a>

  <clr-vertical-nav-group routerLinkActive="active"
                          clrVerticalNavGroupExpanded="true"
                          [appRole]="[]" appFeature="streams">
    <clr-icon shape="cloud-scale" clrVerticalNavIcon></clr-icon>
    <span class="font-size-smaller"> Streams </span>
    <clr-vertical-nav-group-children>
      <div *ngIf="isAdminOrConfiguator()">
        <a
          clrVerticalNavLink
          routerLinkActive="active"
          routerLink="streams/list">
          <span class="font-size-smaller"> Streams </span>
        </a>
      </div>
        <a  *ngIf="isAdmin()"
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="streams/runtime">
            <span class="font-size-smaller"> Runtime </span>
        </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <div>
    <a *ngIf="isAdminOrDashboardMonitor()" clrVerticalNavLink routerLink="queries" routerLinkActive="active">
      <clr-icon shape="form" clrVerticalNavIcon></clr-icon>
      <span class="font-size-smaller"> Queries </span>
    </a>
   </div>

   <clr-vertical-nav-group routerLinkActive="active"
                          clrVerticalNavGroupExpanded="true"
                          [appRole]="[]">
    <clr-icon shape="settings" clrVerticalNavIcon></clr-icon>
    <span class="font-size-smaller" > Settings </span>
    
    <clr-vertical-nav-group-children>
      <div *ngIf="isAdmin()">
        <a
          clrVerticalNavLink
         >
          <span class="font-size-smaller"> Camera </span>
        </a>
      </div>
      <div *ngIf="isAdmin()">
        <a
          clrVerticalNavLink
          >
          <span class="font-size-smaller"> Notification </span>
        </a>
      </div>
        <div *ngIf="isAdmin()">
          <a
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="layout"
            >
            <span class="font-size-smaller"> Layout </span>
          </a>
        </div>
        <div *ngIf="isAdmin()">
          <a
            clrVerticalNavLink
            >
            <span class="font-size-smaller"> Users </span>
          </a>
        </div>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <!-- <clr-vertical-nav-group routerLinkActive="active" clrVerticalNavGroupExpanded="true"
                          [appRole]="[]" appFeature="tasks">
    <clr-icon shape="blocks-group" clrVerticalNavIcon></clr-icon>
    Tasks / Jobs
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="tasks-jobs/tasks">
        Tasks
      </a>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="tasks-jobs/task-executions">
        Tasks executions
      </a>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="tasks-jobs/job-executions">
        Jobs executions
      </a>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="tasks-jobs/schedules"
        [appRole]="[]"
        appFeature="schedules">
        Schedules
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group> -->

  <!-- <clr-vertical-nav-group routerLinkActive="active"
                          clrVerticalNavGroupExpanded="false">
    <clr-icon shape="briefcase" clrVerticalNavIcon></clr-icon>
    Manage
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="manage/records">
        Audit Records
      </a>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="manage/import-export"
        [appRole]="[]"
        appFeature="streams,tasks">
        Import / Export
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group> -->

</clr-vertical-nav>
