// mat-card {
//     margin: 10px;
    
//   }
  mat-card {
    width: 80%;
  }
  
  .text-right {
    text-align: right;
  }
  
  mat-form-field {
    margin: 10px;
  }
  
  
  .cardimg{
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .header{
      color: darkcyan;
  }
  .bottom-right {
    position: absolute;
    bottom: 8px;
    left: 9px;
    color:beige;
  }