<!DOCTYPE html>
<html lang="en">
<body>
<div class="container-fluid">
  <div >
    <form action="" (submit)="goto()">
      <div class="form-group">
        <!-- <label for="country" class="form-label label-color">Country :</label> -->
        <select name="country" id="country" (change)="getstates($event)" required class="form-control">
          <option value="">select country</option>
          <option value="India">India</option>
          <option value="Australia">Australia</option>
          <option value="Iceland">Iceland</option>
        </select>
      </div>
      <div class="form-group">
        <!-- <label for="State">State :</label> -->

        <select name="State" id="State" required class="form-control" (change)="getcities($event)">
          <option value="">select state</option>
          <!-- <option value="{{state}}" *ngFor="let state of states">{{state}}</option> -->
          <option value="Delhi">Delhi</option>
          <option value="Karnataka">Karnataka</option>
          <option value="Kerela">Kerela</option>
        </select>
      </div>
      <div class="form-group">
        <!-- <label for="City">City :</label> -->

        <select name="City" id="City" required class="form-control" (change)="setcity($event)">
          <option value="">select city</option>
          <!-- <option value="{{state}}" *ngFor="let city of cities">{{city}}</option> -->
          <option value="Bangalore">Bangalore</option>
        </select>
      </div>
      <div class="form-group">
        <!-- <label for="locationid" class="form-label">Location Id :</label> -->
        <select name="City" id="locationId" required class="form-control" >
          <option value="">select locationId</option>
          <!-- <option value="{{state}}" *ngFor="let city of cities">{{city}}</option> -->
          <option value="INFYBLR1">INFYBLR1</option>
          <option value="INFYBLR2">INFYBLR2</option>
          <option value="INFYBLR3">INFYBLR3</option>
        </select>
      </div>
      <div class="form-group">
       <input type="submit" style="width: fit-content;" class="btn btn-primary submitButton form-control">
      </div>
    </form>
  </div>

</div>
</body>

</html>
