<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<div class="container-fluid">
  <div class="style1">
    <form action="" (submit)="goto()">
      <div class="form-group">
        <label for="country" class="form-label">Country :</label>
        <select name="country" id="country" (change)="getstates($event)" required class="form-control">
          <option value="">select country</option>
          <option value="India">India</option>
          <option value="Australia">Australia</option>
          <option value="Iceland">Iceland</option>
        </select>
      </div>
      <div class="form-group">
        <label for="State">State :</label>

        <select name="State" id="State" required class="form-control" (change)="getcities($event)">
          <option value="">Select state</option>
          <option value="{{state}}" *ngFor="let state of states">{{state}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="City">City :</label>

        <select name="City" id="City" required class="form-control" (change)="setcity($event)">
          <option value="">Select city</option>
          <option value="{{state}}" *ngFor="let city of cities">{{city}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="locationid" class="form-label">Location Id :</label>
        <input type="text" id="locationid" class="form-control" required>
      </div>
      <div class="form-group">
<!--        <input type="submit" class="btn btn-primary btn1 form-control">-->
      </div>
    </form>
  </div>

</div>
</body>

</html>
