.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-container .mat-form-field {
    width: 220px;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .mat-button-toggle-group{
    margin-top: 2%;
  }
  
  .btnclass{
      width: 13%;
  }