<div class="container">

    <!-- <mat-card class="box">   -->
    <div>
      <span>
        <img  style="border: 5px solid #423e3e" src="http://localhost:5000/video_feed" height="250" width="400"> 
      </span>
      <br/><br/>
      <span class="textstyle"> INPUT FEED</span>
    </div>
    <!-- </mat-card> -->
  
    <!-- <mat-card class="box"> -->
    <div>
      <span>
          <img style="border: 5px solid #423e3e" src="http://localhost:5000/video_feed_processed" height="250" width="400">
      </span>
      <br/><br/>
     <span class="textstyle">PROCESSED FEED</span>
    </div>
    <!-- </mat-card> -->

</div>