<span class="back"><mat-icon (click)="goBack()">arrow_back</mat-icon></span>
<div class="c">
   
    <mat-form-field  class="margin" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  
    <br>
    <br>

    <ol>
        <li> Number Of
            <mat-form-field appearance="fill">
                <mat-label>Select Type</mat-label>
                <mat-select>
                    <mat-option >Cars </mat-option>
                    <mat-option >Trucks </mat-option>
                </mat-select>
                </mat-form-field>
            entered in the day
           </li>
            
            <li>
            Number Of
            <mat-form-field appearance="fill">
                <mat-label>Select Color</mat-label>
                <mat-select>
                    <mat-option >Red </mat-option>
                    <mat-option >Black </mat-option>
                </mat-select>
                </mat-form-field>
            colored vehicles in the day
          </li>
       
    </ol>
    
    
</div>

	
	
			


  






